.content { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 0; 
}


.toDoList {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    
}



ul li {
    list-style: none; 
    padding: 55px 60px 5px 30px; 
    margin: 50px; 
    overflow-x: scroll; /* horizontal scroll */ 
    white-space: nowrap; /* content stays in one line */
    background-color: rgb(129, 249, 129); 
    width: 300px; 
    height: 100px; 
    border: 2px solid gray; 
    box-shadow: 10px 10px rgb(174, 174, 174, 0.7);
} 








.createTask {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 135);
  border: 2px, solid, rgb(236, 182, 82);
  border-radius: 10px;
  min-height: 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 40px 2px 5px 40px;
  padding: 30px;
  overflow: hidden;
  position: relative;
}


.addTask-form {
    margin: 20px;
}


.box-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 10px;
}


.create-task-btn .clear-input-btn{
    width: 100px;
    height: 35px;
    margin-top: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.create-task-btn {
    border: 2px solid rgb(0, 174, 255);
}

.clear-input-btn {
    border: 2px solid red;
}


.edit-del-icons{
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}
.destroy-task{
  color: red;
  float: right;
}
.edit-task{
  color: rgb(45, 152, 224); 
  float: right;
  margin-left: 20px;
}


.navigation-btn {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    height: 5px; 
    margin: -10px;
}


.prev-btn .next-btn {
    height: 200px;
}


.totalPages {
    background-color: rgb(231, 227, 220); 
    border: 2px solid rgb(143, 140, 140);
    padding: 10px; 
    margin: 20px; 
    float: left;
    
} 