.content { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 0; 
}


.toDoList {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}



ul li {
    list-style: none; 
    padding: 55px 60px 5px 30px; 
    margin: 50px; 
    overflow-x: scroll; /* horizontal scroll */ 
    white-space: nowrap; /* content stays in one line */
    background-color: rgb(129, 249, 129); 
    width: 100px; 
    height: 100px; 
    border: 2px solid gray; 
    box-shadow: 10px 10px rgb(174, 174, 174, 0.7);
} 




.totalPages {
    background-color: rgb(244, 158, 20); 
    border: 2px solid rgb(143, 140, 140);
    padding: 10px; 
    margin: 20px; 
    float: left;
    
} 

.right {
    float: right;
}