.footer {
    text-align: center;
    background-color: #4f75dc; 
    padding-top: 2px;
    width: 100%; 
    height: 105px; 
    position: absolute; /* stick to the bottom */

} 

.copyrights {
    padding-left: 15px;
}